## Exploratory Data Analysis for Baseball Database

In [7]:
%matplotlib inline

import Baseball_data_investigation
import pandas as pd
import seaborn as sns

In [2]:
df = Baseball_data_investigation.main()
df.head()

Data not downloaded
Processed hall of fame data
There are 250 members of the Hall of Fame

Processed All Star data
aaronha01    25
mayswi01     24
musiast01    24
mantlmi01    20
willite01    19
Name: playerID, dtype: int64

Processed Player Awards data
bondsba01    47
willite01    39
dimagjo01    36
musiast01    34
ruthba01     33
Name: playerID, dtype: int64

Processed Salary data
            mean_salary  max_salary  min_salary  \
playerID
aardsda01  1.322821e+06   4500000.0    300000.0
aasedo01   5.750000e+05    675000.0    400000.0
abadan01   3.270000e+05    327000.0    327000.0
abadfe01   7.532800e+05   1250000.0    418000.0
abbotje01  2.462500e+05    300000.0    175000.0

           mean_salary_standardized_annually  \
playerID
aardsda01                          -0.440097
aasedo01                            0.299314
abadan01                           -0.663649
abadfe01                           -0.611419
abbotje01                          -0.644164

           max_salary_standardized_annually  min_salary_standardized_annually
playerID
aardsda01                          0.260102                         -0.670224
aasedo01                           0.489518                         -0.197610
abadan01                          -0.663649                         -0.663649
abadfe01                          -0.533287                         -0.670091
abbotje01                         -0.598825                         -0.690417

          mode_schoolID               name_full        city state country
playerID
aardsda01          rice         Rice University     Houston    TX     USA
abadan01        gamiddl  Middle Georgia College     Cochran    GA     USA
abbeybe01       vermont   University of Vermont  Burlington    VT     USA
abbotje01      kentucky  University of Kentucky   Lexington    KY     USA
abbotji01      michigan  University of Michigan   Ann Arbor    MI     USA
Processed college locations

Processed master file
master_merge is ready
data audit complete

C:\Users\Adam\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:43: RuntimeWarning: unorderable types: int() < str(), sort order is undefined for incomparable objects
  union = _union_indexes(indexes)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,playerID,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,cobbty01,1936.0,BBWAA,226.0,170.0,222.0,Y,Player,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,ruthba01,1936.0,BBWAA,226.0,170.0,215.0,Y,Player,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,wagneho01,1936.0,BBWAA,226.0,170.0,215.0,Y,Player,NaN,NaN,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,mathech01,1936.0,BBWAA,226.0,170.0,205.0,Y,Player,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,johnswa01,1936.0,BBWAA,226.0,170.0,189.0,Y,Player,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [3]:
columns = list(df.columns.values)
print(columns)

['playerID', 'yearid', 'votedBy', 'ballots', 'needed', 'votes', 'inducted', 'category', 'needed_note', 'playerID', 'playerID', 'mean_salary', 'max_salary', 'min_salary', 'mean_salary_standardized_annually', 'max_salary_standardized_annually', 'min_salary_standardized_annually', 'mode_schoolID', 'name_full', 'city', 'state', 'country', 'playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry', 'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast', 'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame', 'retroID', 'bbrefID']